{% extends 'base.html' %} 
{% block content %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />

  <!-- Google Fonts - Press Start 2P -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>Home Page </title>
</head>

<body class="jumbotron">
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="font-family: 'Press Start 2P', cursive;">
    <div class="container">
      <a href="../" class="navbar-brand" style="font-size: 14px;"><span style="font-size:21px">🕹️</span> Retro Gamers
        Club <span style="color: rgb(184, 217, 255);font-size: 14px;"> <strong> Home Page</strong>
        </span> </a>
      <a href="#" style="font-size: 13px; text-decoration: none;">NEWS | RETRO BLOG | GALLERY | CONTACT </a>
    </div>
  </div>

  <br /><br /> 

  <div class="jumbotron" style="text-align: center; margin-top:-50px; font-family: 'Press Start 2P', cursive;">
    <h1 class="display-5">Retro Gamers Club</h1>
    <h5>For Retro Geeks and Nerds ..!</h5>
    <span style="font-size:40px">🕹️</span>
    <br /> 
    <hr>   
    {% if user.is_authenticated %}
    <h1 style="font-size: 21px; color:black"> Welcome <span style="color:green">{{ user.username }} </span> to Retro Gamers Club!</h1>
    <h1 style="font-size: 20px; color:black">Thank you for logging in!</h1>
    <br>
    <p><a style="font-size: 16px; text-decoration: none; color:red; " href="{% url 'logout' %}"> Log Out</a></p> <!--add ath the end-->
    {% else %}
    <h1 style="font-size: 20px; color:red">You are not logged in</h1>
    <br>
    <a style="font-size: 16px; text-decoration: none; color:rgb(24, 71, 158);"  href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}
   </div>
 </body>
</html>